<div id="counters" class="mt-5">
    <div class="row">
        <div class="col-12">
            <div>
                <button (click)="resetModalAndCounterId()" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newCounter">Add
                    Counter!</button>
            </div>
            @for (counter of counters(); track $index){
            <div class="mt-5">
                <h5>{{ counter.counter_name }}:</h5>
                <p>{{ counter.counter_value }}</p>
                <button class="btn btn-success mx-3" (click)="increaseCounter(counter)">Increase</button>
                <button class="btn btn-danger" (click)="decreaseCounter(counter)">Decrease</button>
                <img (click)="loadCounterToModal(counter)" class="mx-3" src="../../../assets/spanner.png" alt="Modify counter" data-bs-toggle="modal" data-bs-target="#newCounter">
                <img (click)="deleteCounter(counter)" src="../../../assets/trashcan.png" alt="Delete counter">
            </div>
            }
        </div>
        <div class="modal fade" id="newCounter" tabindex="-1" aria-labelledby="newCounterLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="newCounterLabel">New counter</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label class="form-label" for="counterName">Name:</label>
                        <input [(ngModel)]="counterName" class="form-control" type="text" name="counterName" id="counterName">
                        <label class="form-label" for="counterValue">Value:</label>
                        <input [(ngModel)]="counterValue" class="form-control" type="number" step="1" id="counterValue">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        @if(!change){
                            <button type="button" class="btn btn-primary" (click)="createCounter()" data-bs-dismiss="modal">Add</button>
                        } @else {
                            <button type="button" class="btn btn-primary" (click)="changeCounter()" data-bs-dismiss="modal">Change</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>