<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center">
      <form class="w-50">
        <div class="mb-3">
          <label for="emailAddress" class="form-label">Email address</label>
          <input [(ngModel)] = "emailAddress" name="emailAddress" type="email" class="form-control" id="emailAddress">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)] = "password" name="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
      </form>
    </div>
    @if(showLoginAltert()){
      <div id="loginAlert" class="alert alert-danger w-50 mt-3 text-center" role="alert">
        Email address or password is incorrect!
      </div>
    }    
  </div>
</div>
