<div>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newCounter">Add
        Counter!</button>
</div>

<div class="modal fade" id="newCounter" tabindex="-1" aria-labelledby="newCounterLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newCounterLabel">New counter</h1>
                <button type="button" (click)="resetModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <label class="form-label" for="counterName">Name:</label>
                    <input [ngStyle]="counterNameControl.dirty && counterNameControl.invalid ? {'border':'3px solid red'} : {}" [formControl]="counterNameControl" class="form-control" type="text" name="counterName" id="counterName">
                    @if(counterNameControl.dirty && counterNameControl.hasError('required')){
                        <p style="color: red">The name field cannot be empty!</p>
                    }
                    <label class="form-label" for="counterValue">Value:</label>
                    <input [formControl]="counterValueControl" class="form-control" type="number" step="1" id="counterValue">
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="resetModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @if(!change){
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
                    } @else {
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Change</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>